<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		version="4.0">
		<servlet>
			<description></description>
			<display-name>ControlerPd</display-name>
			<servlet-name>ControlerPd</servlet-name>
			<servlet-class>Controler.ControlerPd</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ControlerPd</servlet-name>
			<url-pattern>/ControlerPd</url-pattern>
		</servlet-mapping>
		<display-name>onlineShopping</display-name>
	</web-app>
</element>